
.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}
._custom--dot{
    display: inline-block;
    line-height: 6px;
    min-height: 6px;
    min-width: 6px;
    height: 6px;
    width: 6px;
    font-size: 0;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
